// Place all the styles related to the api/v1/trips/attractions_by_date controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#map {
    height: 400px;
}

div#attractions {
    height: 400px;
}
