<div class="column-list col-xs-12 col-sm-12 col-md-3 col-lg-3 scroll-column">
  <% if @city %>
    <% map_lat = @city[:lat] %>
    <% map_lng = @city[:lng] %>
    <%= render partial: "city" %>
  <% end %>
  <% if @attraction %>
    <% map_lat = @attraction.lat %>
    <% map_lng = @attraction.lng %>
    <%= render partial: "attraction" %>
  <% end %>
</div>

<div class="main-map col-xs-12 col-sm-12 col-md-9 col-lg-9" id="map"></div>
