<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %>,</h1>
    <p>Below is your itinerary: </p>
    <br>
    <p>Bret Funk</p>
    <p>Founder and CEO</p>
    <p>Cloney Island Travel</p>
    </p>
  </body>
</html>
