<form class="nav navbar-form navbar-left" >
  <div class="wx-search">
    <input type="text" name="destination" value="City, ST" class="transp-text wx">
    <input type="submit" value="Submit" class="btn btn-search wx-btn" >
  </div>
</form>
