<%= form_tag(root_path, method: :get, class: 'nav navbar-form navbar-left') do %>
  <div>
    <%= text_field_tag :destination, "City, ST", class: 'transp-text' %>
    <%= submit_tag 'get weather', class: 'btn btn-search' %>
  </div>
<% end %>
