  <form class="nav navbar-form navbar-left" >
    <div>
      <input type="text" name="destination" value="find a city" class="transp-text wx">
      <input type="submit" class="btn btn-search wx-btn" >
    </div>
  </form>
